# ==============================
# Compose
# ==============================
COMPOSE_PROFILES=postgres

# ==============================
# Application
# ==============================
NODE_ENV=development
PORT=3000
CORS_ORIGINS=http://localhost:5173

# ==============================
# PostgreSQL (--profile postgres)
# ==============================
POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>
POSTGRES_DB=<ostgres_db_name>
POSTGRES_PORT=5432

# ==============================
# MySQL (--profile mysql)
# ==============================
MYSQL_ROOT_PASSWORD=<mysql_root_password>
MYSQL_USER=<mysql_user>
MYSQL_PASSWORD=<mysql_password>
MYSQL_DATABASE=<mysql_db_name>
MYSQL_PORT=3307

# ==============================
# Authentication (JWT)
# ==============================
JWT_SECRET=<generate_a_long_random_string>
JWT_REFRESH_SECRET=<generate_a_different_long_random_string>
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# ==============================
# Backend / Frontend ports
# ==============================
BACKEND_PORT=3000
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:3000/api

# ==============================
# Tools (pgAdmin)
# ==============================
PGADMIN_DEFAULT_EMAIL=<admin_email>
PGADMIN_DEFAULT_PASSWORD=<admin_password>
PGADMIN_LISTEN_PORT=5050
# ==============================
# Redis
# ==============================
REDIS_HOST=redis
REDIS_PORT=6379

# ==============================
# Kafka
# ==============================
KAFKA_BROKER=kafka:9092
